{% extends 'main.html' %}
{% block content %}
{% load static %}

<!--the main part-->
  <main id="main">

   <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'images/profile-img.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Reliable, Efficient Repair experts.</h3>
            <p>
               We work our best to fix problems. We deal with Computer Hardware and software repair, Electronics and Furniture repairs
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <span>Motherboard, Screen, Ports repair</span></li>
                  <li><i class="bi bi-chevron-right"></i> <span>Windows installation and repair</span></li>
                  <li><i class="bi bi-chevron-right"></i> <span>Antivirus installation and repair</span></li>
                  <li><i class="bi bi-chevron-right"></i> <span>Tv repair</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <span>Radio Repair</span></li>
                  <li><i class="bi bi-chevron-right"></i> <span>CCTV Installation and repair</span></li>
                  <li><i class="bi bi-chevron-right"></i> <span><a href="#contact">Related issues</a></span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


<!--    &lt;!&ndash; ======= Testimonials Section ======= &ndash;&gt;-->
<!--    <section id="testimonials" class="testimonials section-bg">-->
<!--      <div class="container">-->

<!--        <div class="section-title">-->
<!--          <h2>Testimonials</h2>-->
<!--          <p> These are some testimonials from satisfied clients</p>-->
<!--        </div>-->

<!--        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">-->
<!--          <div class="swiper-wrapper">-->
<!--            {% for testimony in testimonials %}-->
<!--            {% if testimony.public %}-->
<!--            {% if testimony.approved %}-->
<!--            <div class="swiper-slide">-->
<!--              <div class="testimonial-item" data-aos="fade-up">-->
<!--                <p>-->
<!--                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>-->
<!--                  {{ testimony.other| truncatewords:30 }}-->
<!--                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>-->
<!--                </p>-->
<!--                <img src="{% static 'images/thanks.jpg' %}" class="testimonial-img" alt="{{ testimony.other1 }}">-->
<!--                <h3>{{ testimony.name }}</h3>-->
<!--                <h4>{{ testimony.major}}</h4>-->
<!--              </div>-->
<!--            </div>-->
<!--            {% endif %}-->
<!--            {% endif %}-->
<!--            {% endfor %}-->
<!--            &lt;!&ndash; End testimonial item &ndash;&gt;-->
<!--          </div>-->
<!--          <div class="swiper-pagination"></div>-->
<!--          {% if user.is_authenticated %}-->
<!--          <div class="row">-->
<!--            <a href="" data-bs-toggle="modal" data-bs-target="#testimonial" class="scrollto btn btn-primary"><i class="bx bx-book"></i> <span>Write Testimonial</span></a>-->
<!--          </div>-->
<!--          {% endif %}-->

<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Testimonials Section &ndash;&gt;-->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact us, and we will get back as soon as possible.</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Nairobi, Kenya</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>findfundi@yahoo.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+254 713717570</p>
              </div>

              <iframe src="https://maps.google.com/maps?q=Nairobi%20buruburu&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
<!--              <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Nairobi%20buruburu&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies-online.net">fmovies</a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>-->
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="contact" method="post" role="form" class="email-form">
              {% csrf_token %}
              <div class="row">
                {% if user.is_authenticated %}
                <input type="text" name="name" class="form-control" hidden id="uname" value="{{ user.username }}" required>
                <input type="email" name="email" class="form-control" hidden id="uemail" value="{{ user.email }}" required>

                {% else %}
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
                {% endif %}
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section>
    <!-- End Contact Section -->

<!--    authentication-->
    <section class="contact">
      <!-- Modal upload-->
      <div class="modal fade" id="upload" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Request repair</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="request_repair" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- location input -->
            <div class="form-outline mb-4">
              <textarea readonly class="form-control">upload a photo of the device to be repaired or the device you would like to be installed at comfort of your home and add a description</textarea>
            </div>

            <!-- image input -->
            <div class="form-outline mb-4">
              <input  type="file"  name="photo"placeholder="chose photo" class="form-control" required />
              <label class="form-label">photo</label>
            </div>
<!--          description-->
          <div class="form-outline mb-4">
            <textarea name="description" class="form-control" placeholder="brief description if the problem" required></textarea>
              <label class="form-label">Description</label>
            </div>
<!--          location-->
          <div class="form-outline mb-4">
            <input type="text" name="location" class="form-control" placeholder="precise location" required/>
              <label class="form-label">location</label>
            </div>

            <!-- Submit button -->
          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="submit">Send Request</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
      <!-- end of upload login-->

      <!-- Modal upload history account -->
      <div class="modal fade" id="task" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <canvas height="50"></canvas>
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" >Task {{task_no}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container row">
                {% for t in tasks %}
                  <div class="col-md-6 row">
                    <div class="col-md-4 text-center">
                      <img src="{{t.image}}" alt="" width="80%">
                    </div>
                    <div class="col-md-8">
                          <p>{{t.description}}</p>
                      <br>
                      <em>location: {{t.location}}</em>
                      <br><br>
                      <div class="row">
                        <div class="col-md-6">
                          <b>stage: {{t.status}}</b>
                        </div>
                        <br><br>
                        <div class="col-md-4">
                          <a href="" data-bs-toggle="modal" data-bs-target="#done{{t.tech}}{{t.serial}}" class="btn btn-md btn-outline-secondary">Completed</a>
                        </div>
                      </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end of upload history register-->


      <!-- Modal upload history account -->
      <div class="modal fade" id="work_history" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <canvas height="50"></canvas>
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" >Task {{task_no}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container row">
                {% for t in tasks %}
                  <div class="col-md-6 row">
                    <div class="col-md-4 text-center">
                      <img src="/images/{{t.image}}" alt="{{t.image}}" width="80%">
                    </div>
                    <div class="col-md-8">
                          <p>{{t.description}}</p>
                      <br>
                      <em>location: {{t.location}}</em>
                      <br><br>
                      <div class="row">
                        <div class="col-md-6">
                          <b>stage: {{t.status}}</b>
                        </div>
                        <br><br>
                        <div class="col-md-4">
                          <a href="" class="btn btn-md btn-outline-secondary">Done</a>
                        </div>
                      </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end of upload history register-->


      <!-- Modal completion account -->
      {% for t in tasks %}
      <div class="modal fade" id="done{{t.tech}}{{t.serial}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Task Completed</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="task_completed/{{t.serial}}" method="post">
            {% csrf_token %}
  <div class="row mb-4">
    <h4>Mark this task completed only when you are done working on it!!</h4>
    <br>
    <p>Are done Working on it?</p>
    <input type="hidden" value="{{t.description}}" name="description">
    <input type="hidden" value="{{t.location}}" name="location">
          <div class="d-grid gap-2 col-6 mx-auto">
            <button type="button" class="btn btn-info" data-bs-dismiss="modal" aria-label="Close">NO</button>
          </div>
    <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-warning" type="submit">YES</button>
          </div>
</form>
      </div>
    </div>
  </div>
</div>
      {% endfor %}
      <!--end of modal completion-->

            <!-- Modal testimonial-->
      {% if user.is_authenticated %}
<div class="modal fade" id="testimonial" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Write a Testimonial;</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="testimonial" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
  <!-- Email input -->
    <input name="username" type="hidden" class="form-control" value="{{user.first_name}}" />

          <div class="form-outline mb-4">
            <input name="major" type="text" id="major" class="form-control" placeholder="Designer" required />
            <label class="form-label" for="major">Your Major</label>
          </div>
          <div class="form-outline mb-4">
            <textarea name="testimony" rows="4" cols="40" placeholder="Review and Testimonial" required></textarea>
            <label class="form-label">Testimonial</label>
          </div>
          <div class="form-outline mb-4">
            <input name="image" type="file" class="form-control" placeholder="Image" required/>
            <label>Photo</label>
          </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <!-- Checkbox -->
      <div class="form-check">
        <input required name="stat" type="radio" value="public">
        <label class="form-check-label"> make public </label>
      </div>
      <div class="form-check">
        <input required name="stat" type="radio" value="private">
        <label class="form-check-label"> make Private </label>
      </div>
    </div>

  </div>

  <!-- Submit button -->
<div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-primary" type="submit">Publish</button>
</div>
  <!-- Register buttons -->
</form>

      </div>
    </div>
  </div>
</div>
      {% endif %}
<!--     end of modal testimonial-->
    </section>

  </main>
<!-- End #main -->

{% endblock %}
