<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fundi Recomender</title>


  <!-- Favicons -->
  <link href="{% static 'images/favicon.png' %}" rel="icon">
  <link href="{% static 'images/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'images/logo.png' %}" alt="" class="img-fluid rotate-img rounded-circle">
        <h1 class="text-light"><a>
          Fundi App
        </a></h1>
        <div class="social-links mt-3 text-center">
          <a target="_blank" rel="noopener noreferrer" href="" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a target="_blank" rel="noopener noreferrer" href="" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a target="_blank" rel="noopener noreferrer" href="" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a target="_blank" rel="noopener noreferrer" href="" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a target="_blank" rel="noopener noreferrer" href="" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          {% if user.is_superuser and user.is_staff %}
          <li><a href="" data-bs-toggle="modal" data-bs-target="#users" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#inbox" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Inbox</span></a></li>
          <li><a href="" data-bs-toggle="modal" data-bs-target="#jobs" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Jobs</span></a></li>
          <li>
            <a href=""data-bs-toggle="modal" data-bs-target="#records" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Records</span></a>
            <a href="" data-bs-toggle="modal" data-bs-target="#users" class="nav-link scrollto"><i class="bx bx-user"></i> <span>users</span></a>
          </li>
          {% elif user.is_staff %}
          <li><a href="" data-bs-toggle="modal" data-bs-target="#users" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#inbox" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Inbox</span></a></li>
          <li><a href="" data-bs-toggle="modal" data-bs-target="#task" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Jobs</span></a></li>
          <li>
            <a href=""data-bs-toggle="modal" data-bs-target="#portfolio" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Work History</span></a>
          </li>
          {% else %}
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="" data-bs-toggle="modal" data-bs-target="#upload" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Upload</span></a></li>
          <li><a href="" data-bs-toggle="modal" data-bs-target="#upload_history" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Upload History</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Profile</span></a></li>
          {% endif %}

          <li>
            {% if user.is_authenticated %}
            <a href="logout" class="btn btn-sm btn-outline-danger"><i class="bx bx-male"></i> <span>SignOut</span></a>
            {% else %}
            <a href="" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#account"><i class="bx bx-user"></i> <span>Login/Signup</span></a>
            {% endif %}

          </li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="row yellow">
      <h4>{{user.username}}</h4>
    </div>
    <div class="hero-container" data-aos="fade-in">
      <h1>
        {% if user.is_authenticated %}
          Repair
        {% else %}
          Fix Your Property
        {% endif %}
      </h1>
      <p>We deal with <span class="typed" data-typed-items="Electronics., Hardware., software., &, Computer Services."></span></p>
      <p>
{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="True">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}
      </p>
    </div>
  </section><!-- End Hero -->
  {% block content %}

  {% endblock %}
    <!-- ======= Footer ======= -->

  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>repair-services</span></strong>
      </div>
      <div class="credits">
        Designed by <a href="/" target="_blank" rel="noopener noreferrer">Fundi Recommender</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>